@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,800;1,800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 28 60% 88%;
        --foreground: 26 75% 72%;

        --card: 28 55% 91%;
        --card-foreground: 26 75%, 72%;

        --popover: 0, 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: 357 72% 65%;
        --primary-dark: 357 55% 56%;
        --primary-light: 357 58% 70%;

        --secondary: 47 56%, 44%;
        --secondary-dark: 47 87%, 29%;
        --secondary-light: 47 42%, 51%;

        --muted: 134 19% 50%;
        --muted-dark: 134 26% 39%;
        --muted-light: 134 13% 59%;

        --accent: 11 45% 15%;
        --accent-foreground: 11 14% 44%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 11 45% 15%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;
        --font: 0 0% 100%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 11 35% 10%;
        --foreground: 26 75% 72%;

        --card: 16 13% 28%;
        --card-foreground: 26 75%, 72%;

        --popover: 0, 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: 5 74% 60%;
        --primary-dark: 5 86% 66%;
        --primary-light: 357 58% 70%;

        --secondary: 47 56%, 44%;
        --secondary-dark: 47 87%, 29%;
        --secondary-light: 47 42%, 51%;

        --muted: 134 19% 50%;
        --muted-dark: 134 26% 39%;
        --muted-light: 134 13% 59%;

        --accent: 43 77% 88%;
        --accent-foreground: 39 75% 76%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 31 63% 79%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;
        --font: 0 0% 100%;

        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply overflow-hidden bg-background text-accent;
    }

    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    ::-webkit-scrollbar-track {
        @apply bg-foreground/20;
    }

    ::-webkit-scrollbar-thumb {
        @apply rounded-md bg-accent/20;
    }

    ::-webkit-scrollbar-thumb:hover {
        @apply rounded-md bg-accent/40;
    }
}

@layer utilities {
    .absolute-center {
        @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 transform;
    }
}
